<div class="subnavigation-container">
    <div class="container">
        <nav class="navbar ">
            <ul class="nav navbar-nav col-subnav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/results">Results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admitcard">AdmitCard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cat/Old Papers">Previous Years Papers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="category/Internships">Internships</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blogs</a>
                </li>
                <li class="nav-item">
                    <a target="_BLANK" class="nav-link" href="/askUs">Ask Us</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- *********************SUB NAVIGASTION FOOTER BAR EDNS HERE *************** -->

<!-- ******************************COLUMS AT FOOTER STARTS HERE ********************* -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="foot_logo"><b><u>J</u>obley</b></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <ul class="foot_menu foot-anchor">
                            <li><a target="_BLANK" href="/aboutus">ABOUT US</a></li>
                            <li><a target="_BLANK" href="/faqs">FAQS</a></li>
                            <li><a target="_BLANK" href="/contact-us">CONTACT US</a></li>
                            <li><a target="_BLANK" href="/privacypolicy">PRIVACY POLICY</a></li>
                            <li><a target="_BLANK" href="/terms&conditions">TERMS &amp; CONDITION</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <ul class="foot_address foot-anchor">
                            <li>
                                <div class="show_address"><span>
                                    <i class="fa fa-map-marker fa-2x"aria-hidden="true"></i>
                                </span> We Alwyas Here <i class="far fa-heart"></i> And Hearing From You. Reach Out To Us..
                                </div>
                            </li>
                            <div class="show_address">
                                <a href="mailto:management@Jobley.in" style="text-transform:none;">
                                    <span>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </span> management@Jobley.in
                                </a>
                            </div>
                            </li>
                            <li>
                                <div class="show_address">
                                    <a href="/comingsoon"> <span><i class="fa fa-users"
                                    aria-hidden="true"></i></span> Join Our Community .</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="newletter_box">
                    <form name="newsletter_Signup" id="newsletter_Signup" method="post" action="/newsletter">
                        <h3>Signup Newsletter</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        </div>
                        <div class=" form_group ">
                            <button type="submit" class="btn btn-lg btn btn-primary">
                                <span id="Newsletter_btn">Submit!</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8 col-xs-12">
                <ul class="social">
                    <li><a target="_BLANK" href="https://twitter.com/jobley_in/&#10;"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li><a target="_BLANK" href="https://www.facebook.com/jobleyin-1566619970087766/&#10;"><i
                                    class="fab fa-facebook"></i></a></li>
                    <li><a target="_BLANK" href="https://www.instagram.com/jobley.in/"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="copy">Copyright © 2017-2018 <span> <u>J</u>obley.in</span> All rights reserved.</div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>