    <% include partials/subheader %>
    <div class="container text_container">

        <h1 class="policy_head">About Us</h1>
        <p> <b>JobLey</b> started out by two friends, in the college room in 2017.</p>
        <h3 class="policy_subhead">JobLey Aims/Mission:-</h3>
        <p>
            <ol>
                <li>
                    <b>JobLey's</b> main motto to connect people that provides the knowledge about ongoing projects nearby them and we direct you to find an opportunity in that project regarding employment.
                </li>
                <li>
                    <b>JobLey's</b> mission to suggest a handsome amount of opportunity to every user.
                </li>
                <li>
                    <b>JobLey's</b> aim to provide a different platform to people. Where people share their knowledge and experience by the medium of text, photos, videos.
                </li>
                <li>
                    <b>'s</b> mission is to share and grow the world’s knowledge and JobLey wants to give a huge amount of knowledge to the people.
                </li>
                <li>
                    <b>JobLey</b> Wants to give, a vast amount of the knowledge that would be valuable to many people is currently only available to a few — either locked in people’s heads, or only accessible to select groups. We want to connect
                    the people who have knowledge to the people who need it, to bring together people with different perspectives so they can understand each other better, and to empower everyone to share their knowledge for the benefit of the rest of
                    the world.
                </li>
            </ol>
            JobLey brings together people from different backgrounds to answer the same question, in the same place — and to learn from each other. We want JobLey to be the place to voice your opinion because JobLey is where the debate is happening.
            We want the JobLey answer to be the definitive answer for everybody forever.
        </p>
        <h3 class="policy_subhead">Understand The World and The People in It</h3>
        <p>
            JobLey has content you will feel good about having read. JobLey helps you understand why the world works the way it does, why people behave the way they do, and what we can all do to make the world better. JobLey provides a personalized
            feed of insightful answers to questions you hadn’t realized you should ask. JobLey’s answers come from people who really understand the issues and have first-hand knowledge.
        </p>

    </div>
     <% include partials/subfooter %>