<% include partials/subheader %>
    <style>
        body {
            background-image: url('../images/AskUs.jpg');
            background-size: cover;
        }
    </style>
    <div class="container ">
        <h2 class="text-center askus_h2">We Are Creating Somting Awesome.</h2>
        <div class="table askus_li">
            <ul>                
                <li>You Can Find The Jobs That You Want By Asking Us.</li>
                <li>You Can Ask Queries About Upcoming Jobs.</li>
                <li>You Will Be Able To Ask Comment. </li>
                <li>You Could Like Comments, And Vice-Versa.</li>
                <li>You Could Ask About How To Prepare For Exams.</li>
                <li>You Could Ask About Which Book Should You Read To Succeed.</li>
                <li>We will Provide You All Answers With Our Best Knowledge.</li>
                <li>We Will Write Blogs On Basis Of Your Comment To Clear Your Doubts With Explanation’s.</li>
            </ul>
        </div>
    </div>

    <% include partials/subfooter %>