<% include partials/subheader %>

    <div class="contacus_page">
        <h1>WelCome To Contact Us Page.</h1>
        <h3>We Are Happy To See Here, & Waiting For Your Responce .</h3>
        <ul>
            <li class="contectus_li">Contact Our Management Team :
                <a href="mailto:management@Jobley.in">
                    <i class="far fa-envelope"></i> management@Jobley.in</a>
            </li>
            <li class="contectus_li">Contact To Get Any Kind Of Information :
                <a href="mailto:management@Jobley.in">
                    <i class="far fa-envelope"></i> info@Jobley.in</a>
            </li>
            <li class="contectus_li">WhatsApp : <i class="fab fa-whatsapp"></i> +919116612054</li>
            <li></li>
        </ul>
    </div>

    <% include partials/subfooter %>