<% include partials/subheader %>
   
   <div class="container text_container">
        <h1 class="policy_head">Frequently Asked Questions (FAQs)</h1>
        <h4>Information Collection and Use</h4>
   </div>
   
<% include partials/subfooter %>