<% include partials/subheader %>

    <div class="container text_container">
        <h1 class="policy_head">Frequently Asked Questions (FAQs)</h1>
        <div class="container">
            <div>
                <p>
                    <strong>Q. Is registration on the Jobley free?</strong> <br>
                    <b>Ans.</b> Yes, registration on the Jobley is absolutely free for job seekers and job advertisers.
                </p>
            </div>
            <div>
                <p>
                    <strong>Q. Is Jobley secure ?</strong> </br>
                    <b>Ans.</b>Security is really important to us at Jobley and we make every effort to ensure user data’s security and privacy. We use some of the most advanced technology for internet security available today. Here are some security
                    measures we take to protect your data:
                    <ol>
                        <li>
                            All our systems utilize SSL-the standard security technology for establishing an encrypted link between a web server and a browser. It ensures that the data remains private.
                        </li>
                        <li>
                            No outside vendors have direct access to our systems.
                        </li>
                        <li>
                            All user passwords made by them are stored in encrypted format.
                        </li>
                    </ol>
                </p>
            </div>
            <div>
                <p>
                    <strong>Q. How do I get notifications of new Opportunities?</strong> </br>
                    <b>Ans.</b> Easy, just log in to your Jobley account and create a “job search agent” for a specific city, or remote/telecomm jobs. Every week email will be sent to you with new opportunities in areas of your interest.
                </p>
            </div>
            <div>
                <p>
                    <strong>Q. Do I have to pay to search for opportunities on Jobley?</strong> </br>
                    <b>Ans.</b> Nope, we will never ever charge you to search jobs or post your profile.
                </P>
            </div>
        </div>
    </div>

    <% include partials/subfooter %>