<% include partials/subheader %>
    <div class="outer-wrapper">
        <div class="container">
            <div class="inner-wrapper">
                <div class="logo_container"><u>J</u>obley</div>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="inputUsername" class="col-sm-2 control-label"></label>
                        <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" required>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label"></label>
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                    <div class="form-group">
                        <span id="signup-question">Not a member? <a href="/Jobley_signup">Join now</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% include partials/subfooter %>