<% include partials/header %>
    <div class="container blog_form">
        <div class="job_head">
            <h2><b> Post A New Job</b></h2>
        </div>
        <div class="row">
            <form class="form-horizontal" action="/category/<%=category.title%>/job" method="POST">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="job[title]" placeholder="title of job" required>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select required id="dropdown_jobs" name="job[Category]" required>
                    <option value="">Please Select One Category</option>
                    <option value="Banking Jobs">Banking Jobs</option>
                    <option value="Central Jobs">Central Jobs</option>
                    <option value="Latest Jobs">Latest Jobs</option>
                    <option value="Defence Jobs">Defence Jobs</option>
                    <option value="Medical Jobs">Medical Jobs</option>
                    <option value="Internships">Internships</option>
                    <option value="State Jobs">State Jobs</option>
                    <option value="Police Jobs">Police Jobs</option>
                    <option value="Railways Jobs">Railways Jobs</option>
                    <option value="Staff Selection Commission(SSC)">Staff Selection Commission(SSC)</option>
                    <option value="Technical Jobs">Technical Jobs</option>
                    <option value="Union Public Service Commission(UPSC)">Union Public Service Commission(UPSC)</option>
                </select>
                </div>
                <div id="subcategory_names" class="form-group">
                    <label>subcategory</label>
                    <input type="text" class="form-control" name="job[subcategory]" placeholder="Write subcategory if any">
                </div>
                <div class="form-group">
                    <label>Eligibility</label>
                    <input type="text" class="form-control" name="job[eligibility]" placeholder="eligibility criteria">
                </div>
                <div class="form-group">
                    <label>Department</label>
                    <input type="text" class="form-control" name="job[department]" placeholder="Posting Department" required>
                </div>
                <div class="form-group">
                    <label>Job Location</label>
                    <input type="text" class="form-control" name="job[jobLocation]" placeholder="Location Of Job">
                </div>
                <div class="form-group">
                    <label>Last Date</label>
                    <input type="text" class="form-control" name="job[lastDate]" placeholder="Last Date Of Application">
                </div>
                <div class="form-group">
                    <label>Required Experience</label>
                    <input type="text" class="form-control" name="job[experience]" placeholder="Experience Required If Any Requirement">
                </div>
                <div class="form-group">
                    <label>Url For Job</label>
                    <input type="text" class="form-control" name="job[applyNow]" placeholder="Url Of Job To Apply Now">
                </div>
                <div class="form-group">
                    <label>URL OF PDF</label>
                    <input type="text" class="form-control" name="job[pdfUrl]" placeholder="Input The Url Of Pdf To download.">
                </div>
                <div class="form-group">
                    <label>Job Details</label>
                    <textarea name="job[jobDetails]" id="" cols="75" rows="10" placeholder="Input All Details Of Job."></textarea>
                </div>
                <div class="form-group">
                    <label> Write About Organization</label>
                    <textarea name="job[description]" id="" cols="75" rows="10" placeholder="Write About Organization"></textarea>
                </div>
                <div class="form-group">
                    <label> Job Role</label>
                    <input type="text" class="form-control" name="job[jobRole]" placeholder="Write About Roles On Job">
                </div>
                <div class="form-group">
                    <label>Hiring Process</label>
                    <input type="text" class="form-control" name="job[hiringProcess]" placeholder="Write About Process Of Hiring">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn btn-md active">
                </div>

            </form>
        </div>
    </div>

    <% include partials/footer %>