 <% include partials/header %>

<div class="container">
        <div class="row job-details">
            <div class="col-sm-6">
                <div class="thumbnail job_heading">
                    <h2>State Goverment Rseults</h2>
                </div>
                <div class="job_details">
                    <ul class="job_name">
                        <li>WRD Jen Result</li>
                        <li>WRD Jen Result</li>
                        <li>WRD Jen Result</li>
                        <li>WRD Jen Result</li>
                        <li>WRD Jen Result</li>
                        <li>WRD Jen Result</li>
                        <li>WRD Jen Result</li>
                        <li>WRD Jen Result</li>
                        <li>WRD Jen Result</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail job_heading">
                    <h2>Central Goverment Results</h2>
                </div>
                <div class="job_details">
                    <ul class="job_name">
                        <li>IBPS Bank Result</li>
                        <li>IBPS Bank Result</li>
                        <li>IBPS Bank Result</li>
                        <li>IBPS Bank Result</li>
                        <li>SSC Jen Result</li>
                        <li>SSC Jen Result</li>
                        <li>SSC Jen Result</li>
                        <li>SSC Jen Result</li>
                        <li>SSC Jen Result</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="thumbnail job_heading">
                    <h2>Result By States</h2>
                </div>
                <div class="state_names">
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Andhra Pradesh</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Arunachal Pradesh</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Assam</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Bihar</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Chhattisgarh</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Goa</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Gujarat</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Haryana</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Himachal Pradesh</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Jammu and Kashmir</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Jharkhand</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Karnataka</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Kerala</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Madhya Pradesh</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Maharashtra</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Manipur</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Meghalaya</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Mizoram</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Nagaland</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Odisha</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Punjab</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Rajasthan</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Sikkim</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Tamil Nadu</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Telangana</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Tripura</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Uttar Pradesh</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">Uttarakhand</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="state-col-deatlis">West Bengal</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="thumbnail job_heading">
                            <h2>Result By Union Territories</h2>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="state-col-deatlis">Andaman and Nicobar Islands</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="state-col-deatlis">Chandigarh</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="state-col-deatlis">Dadar and Nagar Haveli</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="state-col-deatlis">Daman and Diu</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="state-col-deatlis">Delhi</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="state-col-deatlis">Lakshadweep</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="state-col-deatlis">Puducherry (Pondicherry)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     <% include partials/footer %>