<% include partials/subheader %>

<style>
    body {
        background: #bdc3c7;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2c3e50, #bdc3c7);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>
<script>
    function myFunction() {
        var x = document.getElementById("inputPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
<div class="wrapper">
    <div class="logo">
        <h1>Jobley</h1>
        <p>Find Answers That Matters To You...</p>
    </div>
    <div class="outer-wrapper">
        <div class="container">
            <div class="inner-wrapper">
                <form action="/Jobley_signup" method="post">
                    <div class="form-group">
                        <label for="userName" class="col-sm-2 control-label"></label>
                        <input type="text" class="form-control" id="inputName" aria-required="true" name="username"
                               placeholder="User Name" required>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label"></label>
                        <input type="email" class="form-control" id="inputEmail" aria-required="true" name="email"
                               placeholder="Email" required>
                    </div>
                    <label for="inputPassword" class="col-sm-2 control-label"></label>
                    <div class="form-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="password" class="form-control" id="inputPassword" aria-required="true"
                               pattern=".{8,15}"
                               autocomplete="off" name="password" placeholder="Password (8 or more characters)"
                               required>
                        <span class="glyphicon glyphicon-eye-open" onclick="myFunction()"></span>
                        <small id="passwordHelpBlock" class="form-text">
                            Your password must be 8-15 characters long, contain letters and numbers.
                        </small>
                    </div>

                    <div class="form-group">
                        <p class="disclosure-text">By clicking , you agree to the <b>Jobley's</b>
                            <a target="_blank" class="tapable" href="#">Terms & Conditions</a>,
                            <a target="_blank" class="tapable" href="#">Privacy Policy</a>.
                        </p>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Join Now</button>
                    </div>

                    <div class="fb-btn-container">
                        <p class="reg-option">
                                <span class="line-wrapper">
                                <span class="line"></span>
                                </span>
                            <span class="content signup">
                                <span>OR</span>
                                </span>
                        </p>
                        <div>
                            <button type="button" id="signup_fb_btn" class="btn btn-primary">
                                <i class="fa fa-facebook" aria-hidden="true">
                                </i><span class="fb-btn-content">Continue with Facebook</span>
                            </button>
                        </div>

                    </div>
                    <div class="form-group">
                        <span id="signup-question">Alerady a member? <a href="/Jobley_login">Sign In</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include partials/subfooter %>